{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Register Details</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css'%}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css'%}"> {% endcomment %}
    <script src="{% static 'js/home.js'%}"></script>

</head>
<style>

</style>

<body>

    <div class="topnav" id="myTopnav">
        <ul>
            <div id="name">
                <h1>Car Pooling System</h1>
            </div>
        </ul>
        <ul id="rest">
            <ul><a href="/" class="active">Home</a></ul>
            <ul><a href="/searchmycar">Book Your Car</a></ul>
            <ul><a href="/allcars">Cars</a></ul>
            <ul><a href="{% url 'register' %}">Register</a></ul>
            <ul><a href="{% url 'login' %}">Login</a></ul>
            <ul><a href="/contact">Contact us</a></ul>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

        </ul>
    </div>

    <div>
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <center>{{ message }}</center>

        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div>

        <div>
            <form method="post">
                {% csrf_token %}
                <h3>Register Your Account</h3>
    
                
                {{ form.as_p }}
                <button>Register</button></br></br>
                <p style="text-align: center;">Or <a href="{% url 'login' %}" id="link">Login</a> here</p>
            </form></br>
        </div>

    </div>

    
</body>

</html>